.project {
  background-color: rgba(250, 250, 250, 0.377);
  padding: 10px 0px;
  border-radius: 10px;
  width: 40%;
  color: #3f4d70;
  margin-bottom: 10px;
}

.project a {
  text-decoration: none;
  color: #3f4d70;
  font-weight: 600;
}

.project__top {
  font-size: 36px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.project__top p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.project__top span {
  padding-right: 20px;
}

.project__image {
  width: 100%;
  height: auto;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
  padding-top: 20px;
}

.project__image:hover {
  border-radius: 50px;
}

.project__links {
  display: flex;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 20px;
}

.project__links a,
.project__hover {
  transition: transform 0.75s ease-in-out;
}

.project__links a:hover {
  transform: translateY(10px);
}

.project__description {
  padding: 15px;
  letter-spacing: 1px;
  font-size: 1.1rem;
  text-align: justify;
}

.project__hover:hover {
  transform: translateY(10px);
}

.project__alignJustify {
  justify-content: space-around;
}

.project__alignCenter {
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .project {
    width: 90%;
  }
}