.fieldset {
    padding: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fieldset legend {
    padding: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.1rem;
    background-color: #add8e6;
    border-radius: 5px;
    width: 350px;
}