.modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    animation: zoom 0.5s linear;

}

.modal__wrapper {
    border: 1px solid #000000;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 80%;
}

.modal>div {
    font-size: 2rem;
    letter-spacing: 5px;
}

.modal__buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.modal__buttons>button {
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: 3px;
    border: transparent;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #000000;
    transition: all 0.7s ease;
    width: 250px;
}

.modal__buttonYes {
    background: rgba(0,0,0,0.4);
}
.modal__buttonYes:hover{
    background: #000000;
}
.modal__buttonNo {
    background: #008000;
}
.modal__buttonNo:hover{
    background: #014401;
}

@media only screen and (max-width: 560px){
    .modal__buttons{
        flex-direction: column;
        align-items: center;
    }
    .modal__wrapper{
        width: 90%;
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}