.generatorcontent {
    /* width: 75%; */
    margin-top: 20px;
}
.generatorcontent h4{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.generatorcontent a{
    cursor: pointer;
    color: #a9a9a9;
    font-size: 1rem;
    text-decoration: none;
}
.generatorcontent__description{
    text-align: center;
    padding: 10px;
}
.generatorcontent__title {
    border-top: 2px solid #a4b0cc;
    border-bottom: 2px solid #a4b0cc;
    padding: 10px;
    font-weight: 600;
    font-size: 1.5rem;
}

.generatorcontent__content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.generatorcontent__button{
    display: flex;
    justify-content: center;
}
