.container{
    padding-top: 60px;
    background: url("../../assets/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    height: 100%;
}