.title{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 5px;
}

@media screen and (max-width:500px){
    .title{
        font-size: 2rem;
    }
}