.note{
    margin-bottom: 30px;
}
.note__wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.note__area {
    font-size: 1rem;
}

.note__notes {
    height: 100px;
    width: 100vh;
}
.note__input{
    width: 100%;
}