.curriculumContent{
    width: 75%;
    padding: 20px 30px;
}
.curriculumContent__title{
    border-top:2px solid #a4b0cc;
    border-bottom: 2px solid #a4b0cc;
    padding: 10px;
    font-weight: 600;
    font-size: 1.5rem;
}
.curriculumContent__clause{
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid #a4b0cc;
}