.skills{
    padding-bottom: 60px;
}
.skills__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}
.skills__link{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1.3rem;
}