.skills{
    /* background-color: #3f4d70; */
    /* background: url('../../assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover; */
    padding-bottom: 60px;
}
.skills__container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}