@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@300&family=Source+Code+Pro&display=swap');
.skills{
    padding-bottom: 60px;
}
.skills__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}
.skills__link{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 30px 30px 0px 30px;
    font-size: 1rem;
    font-family: 'Source Code Pro', monospace;
}
.skills__link a{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    transition: all 0.75s ease;
}

.skills__link a:hover{
    color: #3f4d70;
    text-shadow: 2px 2px 2px #ffffff;
}