.generatorsidebar h4{
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
}
.generatorsidebar form > div{
    margin-top: 10px;
    margin-right: 20px;
}

.generatorsidebar__container{
    height: 100%;
    padding: 10px 20px;
    
}

.generatorsidebar__title{
    background-color: #53679a;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
}

.generatorsidebar button{
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.75s ease-in;
    background: #3f4d70;
    color: #ffffff;
    letter-spacing: 1px;
    border: transparent;
    border-radius: 10px;
    font-size: 1.1rem;
}

.generatorsidebar ul {
    list-style-type: none;
}
.generatorsidebar ul > li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fafafafa;
    font-weight: 600;
    font-size: 1.3rem;
}

.generatorsidebar ul > li svg{
    cursor: pointer;
}