.buttonback button {
    position: fixed;
    top: 95px;
    left: 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 0px 5px 5px 0px;
    border: transparent;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.75s ease;
    z-index: 5;
}

.buttonback button:hover {
    background: #5a71aa;
    color: #ffffff;
}