.home{
    height: 500px;
    background-image: url("../../assets/images/background-home.jpg");
    background-attachment: fixed;
}
.home__container{
    height: 100%;
    background-color: #161827c7;
    color: #ffffff;   
}

.home__bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}
.home__bottom > div{
    width: 40%;
    line-height: 30px;
    font-size: 1.2rem;
} 
.home__bottom > img{
  border-radius: 999px;
  object-fit: contain;
}