.home {
    width: 100%;
    background-image: url("../../assets/images/background-home.jpg");
    background-attachment: fixed;
}

.home__container {
    height: 100%;
    background-color: #161827c7;
    color: #ffffff;
    padding-bottom: 60px;
    padding-top: 60px;
}
.home__bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
}

.home__bottom>div {
    width: 40%;
    line-height: 30px;
    font-size: 1.2rem;
}

.home__bottom>img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: 5px 5px 15px 5px #5a71aa;
}

@media screen and (max-width: 850px) {
    .home h3 {
        padding-top: 150px;
    }

}

@media screen and (max-width: 680px) {
    .home h3 {
        padding-top: 130px;
    }
}

@media screen and (max-width: 500px) {
    .home__bottom>div {
        width: 90%;
    }
    .home__bottom>img {
        width: 50%;
    }
}