.navbar {
    width: 20%;
    position: fixed;
    right: 0;
    color: #ffffff;
    top: 85px;
    z-index: 2;
    height: 100%;
}

.navbar a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-decoration: none;
}

.navbar__icon {
    background-color: #161827;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__icon svg {
    transition: color 0.75s ease-in-out;
}

.navbar__icon svg:hover {
    color: #808080;
    cursor: pointer;
}

.navbar ul {
    background-color: #161827;
    list-style-type: none;
    height: 100%;
}

.navbar ul>li {
    padding-left: 20px;
    height: 85px;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: #3f4d70;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    letter-spacing: 3px;
    transition: all 0.75s ease-in-out;
    cursor: pointer;
}

.navbar ul>li:hover {
    background: #1f2136;
}

.navbar__horizontal{
    height: 200px;
}
.navbar__vertical{
    height: 100%;
}
.navbar__null{
    height: 0;
}
@media screen and (max-width: 850px) {
    .navbar {
        width: 100%;
        top: 110px;
        left: 0;
    }

    .navbar__list {
        transition: all 0.75s ease-in-out;
        width: 100%;
        transform-origin: right 50%;
        visibility: hidden;
        transform: scaleX(0);
    }

}

@media screen and (max-height:700px) {
    .navbar {
        width: 100%;
        height: 150px !important;
    }

    .navbar__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 50%;
        transform-origin: top 50%;
        visibility: hidden;
        transform: scaleY(0);
        height: 100%;
    }

    .navbar ul>li  {
        width: 30%;
        height: 60px;
        margin-bottom: 0;
    }
}