.navbar{
    background-color: #161827;
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    top:85px;
    color: #ffffff;
}
.navbar__icon{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.navbar__icon svg{
    transition: color 0.75s ease-in-out;
}
.navbar__icon svg:hover{
    color: #808080;
    cursor: pointer;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul>li{
    padding-left: 20px;
    height: 85px;
    font-size:1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: #3f4d70;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    letter-spacing: 3px;
    transition: all 0.75s ease-in-out;
    cursor: pointer;
}
.navbar ul>li:hover{
    background: #1f2136;
}