.uploadPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0 20px 0;
    background-color: #fafafa;
    position: relative;
}

.uploadPhoto  img {
    width: 200px;
    cursor: pointer;
}

.uploadPhoto__addButton {
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #797979;
    color: #ffffff;
    border-radius: 5px;
}
.uploadPhoto__avatar>div {
    position: absolute;
    z-index: 10;
}