.uploadImage__image{
    width: 100%;
}
.uploadImage__inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.uploadImage__image{
    height: 100px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.uploadImage__inputs img{
    width: 150px;
    max-height: 200px;
}
.uploadImage__images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
