.admin__home{
    height: 100%;
    padding: 30px 20px;
}

.admin__wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height:100%;
}
.admin__number{
    font-size: 1.3rem;
    background-color: #ffffff;
}
.admin__wrapper ul{
    list-style-type: none;
    width: 50%;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.admin__wrapper li{
    padding: 10px 20px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

