.tagline{
     width: 25%;
     color: #ffffff;
}
.tagline__container{
    background: url("../../../assets/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.75s ease-in-out;
    transform-origin: right 50%;
    height: 100%;
}

.tagline ul{
    list-style-type: none;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px #000000;
}
.tagline__personal ul li{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.tagline__personal ul li > span{
    font-weight: 600;
    padding: 10px 10px 5px 0px;
}
.tagline__skills ul li{
    padding: 10px 10px 5px 10px;
}

.tagline__profession{
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}

.tagline__top > img{
    width: 101%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tagline__title{
    background-color: #3c4269b9;
    padding: 10px 10px;
    font-weight: 600;
}

@media screen and (max-width: 885px){
    .tagline{
        width: 100%;
        height: 100%;
        /* top: 140px; */
    }
    .tagline__top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tagline__top > img{
        width: 300px;
    }
}