.details__row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.details__wrapper {
    background-color: #ffffff;
    padding: 20px 30px;
}

.details__title {
    font-weight: 600;
    letter-spacing: 2px;
    flex: 1 1;
}

.details__content {
    flex: 1 1;
}

.details__image {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: all 0.75s ease-in-out;
    cursor: pointer;
}