.curriculum__top {
    margin-top: 20px;
}


@media screen and (max-width:885px){
    .curriculum__top {
        margin-top: 60px; 
    }
}

@media screen and (max-width:680px){
    .curriculum__top {
        margin-top: 30px; 
    }
}