.curriculum__top {
    margin-top: 20px;
}

.curriculum button:hover {
    background: #1f2136;
    color: #ffffff;
}

@media screen and (max-width:885px){
    .curriculum__top {
        margin-top: 80px; 
    }
}

@media screen and (max-width:680px){
    .curriculum__top {
        margin-top: 40px; 
    }
    .curriculum__bottom{
        z-index: -1;
    }
}