.containercvs {
    display: flex;
    justify-content: center;
}

.containercvs__wrapper {
    box-sizing: border-box;
    width: 794px;
    min-height: 1123px;
    height: 100%;
    background: #ffffff;
    flex-flow: row-reverse wrap;
}