*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
}
html{
    scroll-behavior: smooth;
}
h3{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 5px;
}
.app{
    height: 100%;
}

.button__pritingtopdf{
    padding: 10px 20px;
    margin-left: 45%;
    margin-bottom: 20px;
    border: transparent;
    background: #3f4d70;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.75s;
}
.button__pritingtopdf:hover{
    background: #a4b0cc;
}
@media screen and (max-width: 850px){
    .app__container{
        width: 100%;
    }
}
@media screen and (max-height: 700px){
    .app__container{
        width: 100%;
    }
}
@media screen and (max-width:500px){
    h3{
        font-size: 2rem;
    }
}