*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
}
html{
    scroll-behavior: smooth;
}
.app{
    height: 100%;
}

.button__pritingtopdf{
    padding: 10px 20px;
    margin-left: 45%;
    margin-bottom: 20px;
    border: transparent;
    background: #3f4d70;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.75s;
}
.button__pritingtopdf:hover{
    background: #a4b0cc;
}

.wave {
    position: relative;
    height: 70px;
    width: 100%;
    background: #a0a0a0;
    margin: 0 auto;
}

.wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 57%;
    height: 80px;
    background-color: #ffffff;
    left: 0;
    top: 27px;
}

.wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 51%;
    height: 50px;
    background-color: #a0a0a0;
    right: 0px;
    top: 40px;
}
@media screen and (max-width: 850px){
    .app__container{
        width: 100%;
    }
}
@media screen and (max-height: 700px){
    .app__container{
        width: 100%;
    }
}