*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
}
html{
    scroll-behavior: smooth;
}
h3{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 5px;
}
.app{
    height: 100%;
}
.app__container{
    width: 80%;
}
.app__middle{
    background: url("./assets/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

