.auth{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/images/watermark.webp");
}
.auth__cnt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}
.auth__age{
    display: none;
}