.admin {
    height: 100%;
    background-image: url("../assets/images/watermark.webp");
}

.admin__left {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.admin__right {
    height: 100%;
    margin-left: 20%;
}

.admin__right h1 {
    text-align: center;
    margin-top: 30px;
}